{% extends "main_template.htm" %}

{% block title %}
{{ info.brand }} {{ info.name }} {{info.designSpeeds}}-Speed
{% endblock %}

{% block content %}
<section>
<h1>{{ info.brand }} {{ info.name }} {{info.designSpeeds}}-Speed</h1>
<table>
  <tr>
    <th>Part Number</th>
    <td>{{info.partNumber}}</td>
  </tr>
  <tr>
    <th>Pull Ratio</th>
    <td>{{"%.2f" | format(info.pullRatio)}}</td>
  </tr>
  <tr>
    <th>Curve Coefficients</th>
    <td>{{info.coefficients}}</td>
  </tr>
  <tr>
    <th>Physical Low Limit</th>
    <td>{{"%.2f" | format(info.physicalLowLimit)}}</td>
  </tr>
  <tr>
    <th>Physical High Limit</th>
    <td>{{"%.2f" | format(info.physicalHighLimit)}}</td>
  </tr>
  <tr>
    <th>Pull Ratio Averaged Across Pulling Runs</th>
    <td>{{info["Pull Ratio Averaged Across Pulling Runs"]}}</td>
  </tr>
  <tr>
    <th>Pull Ratio Averaged Across Relaxing Runs</th>
    <td>{{info["Pull Ratio Averaged Across Relaxing Runs"]}}</td>
  </tr>
  <tr>
    <th>Pull Ratio Averaged Across All Runs</th>
    <td>{{info["Pull Ratio Averaged Across All Runs"]}}</td>
  </tr>
  <tr>
    <th>Pull Ratio 95% Confidence Interval</th>
    <td>{{info["Pull Ratio 95% Confidence Interval"]}}</td>
  </tr>
  {% if info.dataVideo %}
  <tr>
    <th>Data Video</th>
    <td><a href="{{info.dataVideo}}" target="_blank">{{info.dataVideo}}</a></td>
  </tr>
  {% endif %}
  {% if info.analysisVideo %}
  <tr>
    <th>Analysis Video</th>
    <td><a href="{{info.analysisVideo}}" target="_blank">{{info.analysisVideo}}</a></td>
  </tr>
  {% endif %}
</table>
<figure>
<img src="pull_curve.png"/>
<figcaption>Pull Curve</figcaption>
</figure>
<figure>
<img src="pull_ratio_curve.png"/>
<figcaption>Pull Ratio Curve. Second smallest and second largest cog positions marked by dots</figcaption>
</figure>
</section>

<h1>Runs</h1>
{% for r in runs %}

<section>
<h2>{{r.name}}</h2>
<a href="{{r.csvFile}}">Raw Measurement Data</a>
<figure>
<img src="{{r.chart}}"/>
<figcaption>Data and best fit line, excluding points taken at limits</figcaption>
</figure>
</section>
{% endfor %}

{% endblock %}