<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="../../reset.css"/>
  <link rel="stylesheet" href="../../main.css"/>
</head>

<body>
  {# <header class="header"><a href="default.htm">Bicycle Drivetrain Builder</a></header> #}
  <div class="content">
  {% block content %}
  {% endblock %}
  </div>
  <div class="spacer"></div>
  <footer class="footer"}>
    <span>&#169; {{ year }} <a href="mailto:hello@drivetrainbuilder.com">Joshua Booth</a> &middot;</span>
    <span> Like this site?
      <a href="https://buymeacoffee.com/boothsprojects" target="_blank">Buy me a coffee!</a></span>
      &middot;
    <span> Not affiliated with Shimano, SRAM, or other manufacturers. Use at your own risk.</span>
    <span style="float: right">Last Updated {{ generation_date }}</span>
  </footer>
</body>

</html>
