{% extends "main_template.htm" %}

{% block title %}
{{ info.brand }} {{ info.name }} {{info.speeds}}-Speed
{% endblock %}

{% block content %}
<section>
{% if info.side == "right" %}
<h1>{{ info.brand }} {{ info.name }} {{info.speeds}}-Speed</h1>
{% else %}
<h1>{{ info.brand }} {{ info.name }} {{info.speeds}}-by</h1>
{% endif %}
<table>
  <tr>
    <th>Part Number</th>
    <td>{{info.partNumber}}</td>
  </tr>
  <tr>
    <th>Cable Pull</th>
    <td>{{"%.2f" | format(info.cablePull)}}</td>
  </tr>
  <tr>
    <th>Raw Measurement Data</th>
    <td><a href="measurements.csv">CSV file</a></td>
  </tr>
  {% if info.dataVideo %}
  <tr>
    <th>Data Video</th>
    <td><a href="{{info.dataVideo}}" target="_blank">{{info.dataVideo}}</a></td>
  </tr>
  {% endif %}
  {% if info.analysisVideo %}
  <tr>
    <th>Analysis Video</th>
    <td><a href="{{info.analysisVideo}}" target="_blank">{{info.analysisVideo}}</a></td>
  </tr>
  {% endif %}
</table>
<figure>
  <table>
    <tr>
      <th>Shift</th>
      <th>Shift Spacing</th>
    </tr>
    {% for s in shift_spacings %}
    <tr>
      <td>
        {{ s[0] }}-{{ s[0]+1 }}
        {% if s[0] == 1 %}
          {% if info.side == "right" %}
            (most cable pull/easiest gear)
          {% else %}
            (most cable pull/biggest chainring)
          {% endif %}
        {% endif %}
        {% if s[0] == shift_spacings | length %}
          {% if info.side == "right" %}
            (least cable pull/hardest gear)
          {% else %}
            (least cable pull/smallest chainring)
          {% endif %}
        {% endif %}
      </td>
      <td>
        {{"%.2f" | format(s[1])}} mm
      </td>
    </tr>
    {% endfor %}
  </table>
  <figcaption>Shift Table</figcaption>
</figure>

<figure>
<img src="cable_pull.png"/>
<figcaption>Cable Pull</figcaption>
</figure>

<h2>Positions</h2>
<figure>
<img src="meas_avgs.png"/>
<figcaption>Average cable position at each gear</figcaption>
</figure>
<figure>
<img src="meas_stdev.png"/>
<figcaption>Standard deviation of cable position at each gear</figcaption>
</figure>
<figure>
<img src="meas_diffs.png"/>
<figcaption>Pulling position minus relaxing position</figcaption>
</figure>
<h2>Shift Amounts</h2>
<figure>
<img src="shift_avgs.png"/>
<figcaption>Average cable position change between gears</figcaption>
</figure>
<figure>
<img src="shift_stdev.png"/>
<figcaption>Standard deviation of cable position change between gears</figcaption>
</figure>
<figure>
<img src="shift_diffs.png"/>
<figcaption>Pulling position change minus relaxing position change</figcaption>
</figure>
</section>

{% endblock %}